[Desktop Entry]
Encoding=UTF-8
Name=Isracoin
Comment=Isracoin P2P Cryptocurrency
Comment[fr]=Isracoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Isracoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/isracoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/isracoin128.png
MimeType=x-scheme-handler/isracoin;
Categories=Office;
