src/*.exe
src/isracoind
src/test_isracoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.dogecoin

# Compilation and Qt preprocessor part
*.qm
Makefile
dogecoin-qt
Dogecoin-Qt.app

# Unit-tests
Makefile.test
dogecoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

# Windows specific
Thumbs.db

!src/leveldb*/Makefile
